.scrolling-area {
  background-image: url(https://i.stack.imgur.com/GSbZp.jpg);
  background-size: cover;
  color: #feda4a;
  display: flex;
  font-family: 'Pathway Gothic One', sans-serif;
  height: 350px;
  justify-content: center;
  letter-spacing: 6px;
  perspective: 300px;
  text-align: justify; }
