.scrolling-area {
  background-image: url(https://i.stack.imgur.com/GSbZp.jpg);
  background-size: cover;
  color: #feda4a;
  display: flex;
  font-family: 'Pathway Gothic One', sans-serif;
  height: 350px;
  justify-content: center;
  letter-spacing: 6px;
  perspective: 350px;
  position: relative;
  text-align: justify;
  width: 100%; }

.scroll-text {
  animation: scroll-text 275s linear;
  animation-iteration-count: infinite;
  font-size: 24px;
  position: relative;
  text-align: center;
  top: -100px;
  transform-origin: 0% 0%;
  width: 65%; }

h3 {
  margin: 0px; }

h5 {
  margin: 10px 0px; }

@keyframes scroll-text {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0); }
  100% {
    top: -5000px;
    transform: rotateX(25deg) translateZ(-2500px); } }
