.scrolling-area {
  background-image: url(https://i.stack.imgur.com/GSbZp.jpg);
  background-size: cover;
  color: #feda4a;
  display: flex;
  font-family: 'Pathway Gothic One', sans-serif;
  height: 350px;
  justify-content: center;
  letter-spacing: 6px;
  overflow: hidden;
  perspective: 350px;
  position: relative;
  text-align: justify;
  width: 100%; }
  .scrolling-area .scroll-text {
    animation: scroll-text 175s linear;
    animation-iteration-count: infinite;
    font-size: 40px;
    position: relative;
    text-align: center;
    top: -100px;
    transform-origin: 0% 0%;
    width: 65%; }
    .scrolling-area .scroll-text h3 {
      margin: 0px; }
    .scrolling-area .scroll-text h5 {
      margin: 10px 0px; }

@keyframes scroll-text {
  0% {
    top: 500px;
    transform: rotateX(20deg) translateZ(0); }
  100% {
    top: -5000px;
    transform: rotateX(25deg) translateZ(-2500px); } }
