.card {
  background-color: #40434E;
  border: 1px solid black;
  height: 400px;
  margin: 10px 10px;
  padding: 5px;
  width: 322px; }
  .card .card-data {
    height: 110px; }
  .card .card h3 {
    display: inline-block;
    font-size: 16px; }
  .card .card h4 {
    height: 20px; }
  .card img {
    float: right;
    height: 50px;
    width: 50px; }
