.header {
  background-color: black;
  display: flex;
  justify-content: space-around;
  height: 35px;
  padding: 20px 0px;
  width: 100%; }

button {
  background-color: #ED2939;
  border: 1px solid white;
  color: white;
  font-size: 18px;
  height: 40px;
  padding: 2px 5px;
  width: 100px; }
