.header {
  background-color: black;
  display: flex;
  justify-content: space-around;
  height: 46px;
  padding: 20px 0px;
  width: 100%;

  .selected {
    border: 5px solid orange;
  }
}

button {
  background-color: #ED2939;
  border: 1px solid white;
  color: white;
  font-size: 18px; 
  height: 45px;
  padding: 2px 5px;
  width: 110px;
}

@media (max-width: 448px) { 
  .header {
    flex-wrap: wrap;
    height: 115px;
  }
}

